---
import { slug } from 'github-slugger'
import { useFootnote, getFootnoteNumber, getFootnoteUsageCount } from './footnotes'

interface Props {
    name: string;
}

const { name } = Astro.props;
const nameSlug = slug(name);
const href = "#fn-" + nameSlug;
let id = "afn-" + nameSlug;
const hasSlot = Astro.slots.has("default");
useFootnote(nameSlug)
const usageCount = getFootnoteUsageCount(nameSlug);
if (usageCount >= 2) {
    id += "-" + (usageCount - 2);
}
---

{
    hasSlot
    ? <a class="fn fn-inline" id={id} href={href}><slot /></a>
    : <a class="fn fn-super" id={id} href={href}>[{getFootnoteNumber(nameSlug)}]</a>
}

<style>
    .fn-super {
        vertical-align: super;
        font-size: 0.6em;
    }

    .fn-inline {
        text-decoration: underline dotted;
        cursor: help;
    }

    .fn:target {
        background-color: #BBBB1144;
    }
</style>