---
import Image from 'astro/components/Image.astro';
import { Debug } from 'astro:components';
import IPATranscription from './IPATranscription.astro';

interface Props {
    /** The Pokémon's English name. */
	name: string;
    /** The card ID on the pokemontcg.io API. */
    card: string;
    /** The proposed Polish name. */
    pl: string;
    /** The style of the Pokémon image. Mostly used to change crop coordinates from the defaults:
     * ```css
     * --offset-left: -75px;
       --offset-top -50px;
        ```
     */
    style: string;
    /** Base transcription, to be converted into IPA. Used when graphemes don't give off the intended pronunciation. */
    pron?: string;
}

const { name, card, pl, style } = Astro.props;
const pronunciation = Astro.props.pron ?? pl;
let image, dexno, artist;
const { PROD } = import.meta.env

if (PROD) {
    const cardData = await fetch("https://api.pokemontcg.io/v2/cards/" + card)
        .then(resp => resp.json())
        .then(d => d.data)
        .catch(e => {
            throw new Error(`Error while handling card ${card}`, {cause: e})
        })
    
    try {
        image = cardData.images.large
        dexno = cardData.nationalPokedexNumbers?.[0] ?? "????"
        artist = cardData.artist ?? "(NOT FOUND)"
    } catch (e) {
        throw new Error(`Error while handling card ${card}`, {cause: e})
    }
    console.log("HANDLING CARD: " + card)
} else {
    dexno = "????"
    artist = "(NOT FOUND)"
    let [ set, cardno ] = card.split('-')
    image = `https://images.pokemontcg.io/${set}/${cardno}_hires.png`
}
---

<tr>
    <th class="full-width">
        #{dexno.toString().padStart(4,"0")}
        <br class="lg-hide"/> {pl}
        <br class="lg-hide ipa"/> <IPATranscription word={pronunciation} />
        {pl != name ? (<t><br class="lg-hide"/> ({name})</t>) : <></>}
    </th>
    <td class="full-width"><div class="cropped-card-image" style={style}><img src={image} width="275" loading="lazy" alt={name} title={`Art by ${artist}`}/></div></td>
    <td class="full-width"><em class="table-cell-header block">Etymology</em><slot name="etymology" /></td>
    <td class="full-width optional"><em class="table-cell-header block">Notes</em><div class="information"><slot name="notes"/></div></td>
</tr>

<style>
    .cropped-card-image {
        width: 120px;
        height: 120px;
        overflow: hidden;
        > img {
            margin-left: var(--offset-left, -75px);
            margin-top: var(--offset-top, -50px);
        }
    }
</style>