---
import Image from 'astro/components/Image.astro';
import { Debug } from 'astro:components';

interface Props {
    /** The Pokémon's English name. */
	name: string;
    /** The card ID on the pokemontcg.io API. */
    card: string;
    /** The proposed Polish name. */
    pl: string;
    /** The style of the Pokémon image. Mostly used to change crop coordinates from the defaults:
     * ```css
     * --offset-left: -85px;
       --offset-top -55px;
        ```
     */
    style: string;
}

const { name, card, pl, style } = Astro.props;
let image, dexno, artist;

const cardData = await fetch("https://api.pokemontcg.io/v2/cards/" + card)
    .then(resp => resp.json())
    .then(d => d.data)
    .catch(e => {
        throw new Error(`Error while handling card ${card}`, {cause: e})
    })

try {
    image = cardData.images.large
    dexno = cardData.nationalPokedexNumbers?.[0] ?? "????"
    artist = cardData.artist ?? "(NOT FOUND)"
} catch (e) {
    throw new Error(`Error while handling card ${card}`, {cause: e})
}
console.log("HANDLING CARD: " + card)
---

<tr>
    <td class="full-width">#{dexno.toString().padStart(4,"0")} {name}</td>
    <td class="full-width"><div class="cropped-card-image" style={style}><Image src={image} width="300" height="419" loading="lazy" alt={name} title={`Art by ${artist}`}/></div></td>
    <td class="full-width"><em class="table-cell-header">New name</em>{pl}</td>
    <td class="full-width"><em class="table-cell-header block">Etymology</em><slot name="etymology" /></td>
    <td class="full-width optional"><em class="table-cell-header block">Notes</em><div class="information"><slot name="notes"/></div></td>
</tr>

<style>
    @import 'cropped-card-image.css';
</style>