---
import Image from 'astro/components/Image.astro';
import { Debug } from 'astro:components';
import IPATranscription from './IPATranscription.astro';
import { appendFile, open, readFile, writeFile } from 'fs/promises'

interface Props {
    /** The Pokémon's English name. */
	name: string;
    /** The card ID on the pokemontcg.io API. */
    card: string;
    /** The proposed Polish name. */
    pl: string;
    /** The style of the Pokémon image. Mostly used to change crop coordinates from the defaults:
     * ```css
     * --offset-left: -75px;
       --offset-top -50px;
        ```
     */
    style: string;
    /** Base transcription, to be converted into IPA. Used when graphemes don't give off the intended pronunciation. */
    pron?: string;
}

const { name, card, pl, style } = Astro.props;
const pronunciation = Astro.props.pron ?? pl;
const cacheFilePath = "pokemon-tcg-cache.jsonl";
const { PROD } = import.meta.env;
let image, dexno, artist, path, cache = [], newCacheItem = {};
try {
    await appendFile(cacheFilePath, "") // create file
    const cacheFileContent = await readFile(cacheFilePath, {encoding: 'utf-8'})
    
    if (!cacheFileContent.match(/^[\0\s]*$/g)) {
        cache = cacheFileContent.split("\n").filter(e => !!e).map(e => JSON.parse(e))
    }

    if (PROD) {
        let cardData;
        const foundCacheEntry = cache.find(e => card in e);
        console.log(foundCacheEntry)
        if (foundCacheEntry) {
            ({ image, dexno, artist } = foundCacheEntry[card])
        } else {
            cardData = await fetch("https://api.pokemontcg.io/v2/cards/" + card)
            .then(async resp => {
                const text = await resp.text();
                //console.log(text);
                return JSON.parse(text)
            })
            .then(d => d.data)
            .catch(e => {
                throw new Error(`Error while handling card ${card}`, {cause: e})
            })
            try {
                image = cardData.images.large
                dexno = cardData.nationalPokedexNumbers?.[0] ?? "????"
                artist = cardData.artist ?? "(NOT FOUND)"
                path = "/pokemon-pl/" + card + ".png";
                const filePath = "public" + path;
                newCacheItem[card] = { image: filePath, dexno, artist }
                let f;
                try {
                    f = await open(filePath, "wx")
                    const bytes = await (await fetch(image)).bytes()
                    await f.write(bytes)
                } catch(e) {
                    console.log(e)
                } finally {
                    await f?.close()
                }
            } catch (e) {
                throw new Error(`Error while handling card ${card}`, {cause: e})
            }
        }
        console.log("HANDLING CARD: " + card)
    } else {
        dexno = "????"
        artist = "(NOT FOUND)"
        let [ set, cardno ] = card.split('-')
        image = `https://images.pokemontcg.io/${set}/${cardno}_hires.png`
    }
} finally {
const jsonString = JSON.stringify(newCacheItem);
    if (jsonString !== "{}") {
        await appendFile(cacheFilePath, jsonString + "\n")
    }
}
path = image;
---

<tr>
    <th class="full-width">
        #{dexno.toString().padStart(4,"0")}
        <br class="lg-hide"/> {pl}
        <br class="lg-hide ipa"/> <IPATranscription word={pronunciation} />
        {pl != name ? (<t><br class="lg-hide"/> ({name})</t>) : <></>}
    </th>
    <td class="full-width"><div class="cropped-card-image" style={style}><img src={path} width="275" height="383.65" loading="lazy" alt={name} title={`Art by ${artist}`}/></div></td>
    <td class="full-width"><em class="table-cell-header block">Etymology</em><slot name="etymology" /></td>
    <td class="full-width optional"><em class="table-cell-header block">Notes</em><div class="information"><slot name="notes"/></div></td>
</tr>

<style>
    .cropped-card-image {
        width: 120px;
        height: 120px;
        overflow: hidden;
        > img {
            margin-left: var(--offset-left, -75px);
            margin-top: var(--offset-top, -50px);
        }
    }
</style>