---
import Image from 'astro/components/Image.astro';
import { Debug } from 'astro:components';

interface Props {
	name: string;
    card: string;
    pl: string;
    style: string;
}

const { name, card, pl, style } = Astro.props;
let image, dexno, artist;

const cardData = await fetch("https://api.pokemontcg.io/v2/cards/" + card)
    .then(resp => resp.json())
    .then(d => d.data)
    .catch(e => {
        throw new Error(`Error while handling card ${card}`, {cause: e})
    })

try {
    image = cardData.images.large
    dexno = cardData.nationalPokedexNumbers?.[0] ?? "????"
    artist = cardData.artist ?? "(NOT FOUND)"
} catch (e) {
    throw new Error(`Error while handling card ${card}`, {cause: e})
}
console.log("HANDLING CARD: " + card)
---

<tr>
    <td>#{dexno.toString().padStart(4,"0")} {name}</td>
    <td><div class="cropped-card-image" style={style}><Image src={image} width="300" height="419" loading="lazy" alt={name} title={`Art by ${artist}`}/></div></td>
    <td>{pl}</td>
    <slot name="etymology" />
    <slot name="notes"/>
</tr>

<style>
    @import 'cropped-card-image.css';
</style>