---
interface Props {
    id: string,
    width?: number,
    height?: number,
}

const { id, width = 560, height = 315 } = Astro.props;
const { PROD } = import.meta.env
---

<div>
    {
        PROD
        ? <iframe
            class="youtube-embed"
            style={{aspectRatio: `${width} / ${height}`}}
            width={width}
            height={height}
            src={"https://www.youtube.com/embed/" + id}
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        : <a href={`https://www.youtube.com/watch?v=${id}`}>Watch on YouTube</a>
    }
</div>
<style is:global>
    .youtube-embed {
        max-width: 100%;
        height: auto;
    }
</style>